<h1> Home Page! </h1>
<h1>Welcome to the BakeryTracker</h1>
<h3><a href='/vendors'>View all Vendors</a></h3>
<h3><a href='/vendors/new'>Add a new vendor</a></h3>
<!-- add link the list of all vendors View: Views/Vendors/Index.cshtml -->